---
layout: default
title: "Entries by Tag"
teaser: "All my entries..."
breadcrumb: true
sidebar: right
header:
    title: R. Checa-Garcia webpage | Entries by Tag 
    pattern: pattern_jquery-dark-grey-tile.png
permalink: "blog/archive_tags/"
---
<div id="blog-index" class="row">
	<div class="small-8 columns t30">
		<h1>{{ page.title }}</h1>
		{% if page.teaser %}<p class="teaser">{{ page.teaser }}</p>{% endif %}


{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- site_tags: {{ site_tags }} -->
{% assign tag_words = site_tags | split:',' | sort %}
<!-- tag_words: {{ tag_words }} -->

   <ul class="tag-box inline">
   {% for item in (0..site.tags.size) %}{% unless forloop.last %}
     {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
     <li><a href="#{{ this_word | cgi_escape }}"><i class="fa fa-tag"></i>{{ this_word }} <span>{{ site.tags[this_word].size }}</span></a></li>
   {% endunless %}{% endfor %}
   </ul>
   
    
   {% for item in (0..site.tags.size) %}{% unless forloop.last %}

   {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
   
  <h3 id="{{ this_word | cgi_escape }}">{{ this_word }}</h3>

      {% include list-posts entries='5000' tag=this_word %}
	  {% endunless %}{% endfor %}
	</div><!-- /.small-8.columns -->
	
	
	<div class="medium-4 columns t30">
		{% include sidebar %}
	</div><!-- /.medium-3.columns -->
</div><!-- /.row -->
