---
layout: compress
---
<!doctype html>

<!-- mathjax config similar to math.stackexchange -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [ ['$', '$'] ],
    displayMath: [ ['$$', '$$']],
    processEscapes: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  },
  messageStyle: "none",
  "HTML-CSS": { preferredFont: "STIX", availableFonts: ["STIX","TeX", "Asana-Math", "Neo-Euler"] }
});
</script>
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include head %}
</head>
<body id="top-of-page" class="{{ page.format }}">
	{% unless page.skip_boilerplate %}
	{% include navigation %}
	{% endunless %}

	{% include masthead %}

	{{ content }}

	{% unless page.skip_boilerplate %}
	{% include footer %}
	{% endunless %}

	{% include footer_scripts %}
</body>
</html>
