---
layout: default
format: blog-index
---
<div id="header-home">
    <div class="row">
        <div class="small-16 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


<div class="row t30">
    <div class="small-3 columns">
        {% include alert info=' <a href="/research/overview">Research</a>' %}
        {% include alert info=' <a href="/teaching/overview/">Teaching</a>' %}
    </div><!-- /.small-3.columns -->
        
    <div class="small-3 columns">
        <img src="{{ site.urlimg }}{{ 'research_clipart.jpg' }}" width="100%" alt="" />
        <br></br>
        {% include alert info=' <a href="/blog/archive_science/">Science Blog</a>' %}
        {% include alert info=' <a href="/blog/archive_computing/">Computing Blog</a>' %}
    </div><!-- /.small-3.columns -->
        
    <div class="small-3 columns">
        <img src="{{ site.urlimg }}{{ 'review.jpg' }}" width="100%" alt="" />
        <br></br>
        {% include alert info=' <a href="/blog/archive_personal/">Personal Blog</a>' %}
    </div><!-- /.small-3.columns -->
    <div class="small-3 columns">
        <img src="{{ site.urlimg }}{{ 'buho.png' }}" width="100%" alt="" />
        <br></br>
        {% include alert info=' <a href="/blog/open_letters/">Open Letters</a>' %}
    </div><!-- /.small-3.columns -->
        
</div><!-- /.row -->
<!--
    <div class="row t60">
    <div class="small-3 columns">
        {% include alert info=' <a href="/research/overview">Research</a>' %}
        {% include alert info=' <a href="/teaching/overview/">Teaching</a>' %}
        {% include alert text='**Where are you?** You arrived to my academic and personal describing my **research** and **teaching** experience. My blog is also here and it has three main parts: earth science related entries, *scientific computing* information and finally more personal *comments or opinions*. Also, there is an Open Letters section to show comunications or notifications.' %}
    </div><!-- /.small-3.columns -->        
    <div class="small-3 columns">
        <img src="{{ site.urlimg }}{{ 'research_clipart.jpg' }}" width="100%" alt="" />
        <br></br>
        {% include alert info=' <a href="/blog/archive_science/">Science Blog</a>' %}
        {% include alert info=' <a href="/blog/archive_computing/">Computing Blog</a>' %}
    </div><!-- /.small-3.columns -->
        
    <div class="small-3 columns">
        <img src="{{ site.urlimg }}{{ 'review.jpg' }}" width="100%" alt="" />
        <br></br>
        {% include alert info=' <a href="/blog/archive_personal/">Personal Blog</a>' %}
    </div><!-- /.small-3.columns -->
    <div class="small-3 columns">
        <img src="{{ site.urlimg }}{{ 'buho.png' }}" width="100%" alt="" />
        <br></br>
        {% include alert info=' <a href="/blog/open_letters/">Open Letters</a>' %}
    </div><!-- /.small-3.columns -->
        
</div><!-- /.row -->
-->

{% unless site.posts == empty %}
    <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            {% for post in site.posts limit:1 %}
            {% if post.image.homepage %}
            <p>
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title escape_once }}"><img width="970" src="{{ site.urlimg }}{{ post.image.homepage }}" alt="{{ page.title escape_once }}"></a>
            </p>

            {% if post.image.caption_url && post.image.caption %}
            <p class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </p>
            {% endif %}
            {% else post.image.homepage == NULL %}
            <h2>{{ site.data.language.new_blog_entries }}</h2>
            {% endif %}
            {% endfor %}
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <div class="row">
        <div class="medium-6 columns">
            {% for post in site.posts limit:3 %}
            {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
            <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
            </p>
            {% endfor %}
        </div><!-- /.medium-5.columns -->


        <div class="medium-6 columns">
            <p><strong>{{ site.data.language.more_articles }}</strong></p>
            {% include list-posts entries='10' offset='1' %}
        </div><!-- /.medium-7.columns -->
    </div><!-- /.row -->
{% endunless %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
